@media (min-width: 0em) {
    #landing {
        width: 100vw;
        height: 50em;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        position: relative;


        .swiper-container {
            height: 100%;
            width: 100%;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;

            .landing-content {
                position: absolute;
                width: 100%;
                max-width: 1200px;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                padding: $padding-md;
                z-index: 2;
                top: 10em;

                h1,
                h2 {
                    color: white;
                    font-size: 3em;
                    position: relative;
                    margin-bottom: .5em;
                    max-width: 600px;
                }

                p {
                    margin-bottom: $margin-md;
                    line-height: 1.5;
                    max-width: 600px;
                    color: white;
                    font-weight: lighter;
                }

                .btns {
                    display: flex;
                    flex-wrap: wrap;
                    text-transform: uppercase;

                    a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: max-content;
                    }

                    a:nth-child(1) {
                        margin-right: 1em;
                        // transition: all .5s;
                        border: 2px solid $primary;
                        color: black;

                        &:hover {
                            transition: all .5s;
                            background-color: transparent;
                            color: white;
                        }
                    }

                    a:nth-child(2) {
                        border: 2px solid $primary;
                        background-color: transparent;
                        color: white;
                        // transition: all .5s;

                        &:hover {
                            transition: all .5s;
                            background-color: $primary;
                            color: black;
                        }
                    }
                }
            }

            & .swiper-wrapper {
                display: flex;
                position: relative;
                z-index: 1;

                .swiper-slide {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                }

                .swiper-landing-1 {
                    background: linear-gradient(top, rgba(0, 0, 0, .8), rgba(0, 0, 0, 0)), url(/assets/img01M.webp) center / cover;
                }

                .swiper-landing-2 {
                    background: linear-gradient(top, rgba(0, 0, 0, .8), rgba(0, 0, 0, 0)), url(/assets/img01M.webp) center / cover;
                }

                .swiper-landing-3 {
                    background: linear-gradient(top, rgba(0, 0, 0, .8), rgba(0, 0, 0, 0)), url(/assets/img01M.webp) center / cover;
                }

            }
        }

        .swiper-slide-active {
            .landing-content {
                h1 {
                    opacity: 0;
                    animation: fadeUp 1s ease-in-out forwards;
                }

                p {
                    animation: fadeUp 1s ease-in-out forwards;
                    animation-delay: .5s;
                    opacity: 0;
                }

                a {
                    opacity: 0;
                    animation: fadeUp 1s ease-in-out forwards;
                    animation-delay: 1.2s;
                }
            }
        }

        .controller {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            right: 1em;
            bottom: 1em;
            background-color: white;
            z-index: 2;
            box-shadow: $box-shadow;

            &>div {
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                p {
                    text-transform: uppercase;
                    font-size: .8em;
                }

                img {
                    width: 1em;
                    height: 1em;
                    margin: 1em;
                }
            }

            div:nth-child(1) {
                padding-right: 1em;
                background-color: #f1f1f1;
            }

            div:nth-child(2) {
                padding-left: 1em;
            }
        }
    }

    .landing-overlap {
        position: relative;
        width: 100%;
        max-width: 1000px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: white;
        padding: 0 1em;
        z-index: 2;

        &>div {
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid #a4a4a4;
            width: 100%;
            max-width: 600px;
            padding: 2em 1em;

            a {
                color: black;

                img {
                    width: 3em;
                    height: 3em;
                    margin-right: 1em;
                }
            }

            &>div {
                display: flex;
                flex-direction: column;

                p {
                    color: black;
                    margin-bottom: .5em;
                }

                p:nth-child(1) {
                    font-size: 1.2em;
                }

                a.phone {
                    color: $primary;
                }
            }
        }

        &>div:nth-child(3) {
            border-bottom: none;
        }
    }

    #intro {
        width: 100vw;
        padding: 0 $padding-md $padding-xl $padding-md;

        .container {
            .imgs {
                margin-bottom: 1em;

                .large-img {
                    img {
                        width: 100%;
                        height: 100%;
                        max-width: 620px;
                    }
                }

                .small-img {
                    width: 230px;
                    height: 280px;
                    position: relative;
                    border: 15px solid white;
                    margin-top: -230px;
                    margin-left: -5px;

                    img {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        object-fit: cover;
                    }
                }
            }

            .content {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                width: 100%;
                max-width: 600px;

                span {
                    color: $primary;
                    text-transform: uppercase;
                }

                h2 {
                    color: $secondary;
                    font-size: 2.5em;
                    text-transform: uppercase;
                    margin-bottom: .5em;
                }

                p {
                    line-height: 1.5;
                    margin-bottom: $margin-lg;
                }

                .tabs-container {
                    width: 100%;

                    .control {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: flex-start;
                        flex-direction: column;
                        position: relative;

                        // 2
                        .tab-controls {
                            list-style: none;
                            width: 100%;
                            max-width: max-content;
                            display: grid;
                            grid-template-columns: repeat(3, 1fr);
                            grid-template-rows: 1fr;
                            place-items: center;
                            border-bottom: 1px solid #a4a4a4;

                            li {
                                button {
                                    padding: 1rem;
                                    border: 0;
                                    background-color: white;
                                    position: relative;
                                    text-transform: uppercase;
                                    font-weight: bold;
                                    cursor: pointer;
                                    color: black;
                                }

                                & .active {
                                    &::after {
                                        content: '';
                                        width: 100%;
                                        position: absolute;
                                        bottom: -3px;
                                        left: 0;
                                        background-color: $primary;
                                        height: 6px;
                                    }
                                }
                            }
                        }
                    }

                    .contents {
                        width: 100%;

                        .tab-content {
                            width: 100%;
                            padding: 1em 0;
                            // background-color: #f1f1f1;
                            display: flex;
                            justify-content: flex-start;
                            flex-wrap: wrap;
                            align-items: flex-start;
                            // flex-direction: column;

                            .content-img-container {
                                width: 100%;
                                max-width: 200px;
                                height: 120px;
                                position: relative;
                                margin-bottom: 1em;
                                margin-right: 1em;

                                img {
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                    top: 0;
                                    left: 0;
                                    object-fit: cover;
                                }
                            }

                            ul {
                                display: flex;
                                flex-direction: column;
                                width: max-content;

                                li {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    margin-bottom: 1em;
                                    width: max-content;

                                    img {
                                        width: 1.5em;
                                        height: 1.5em;
                                        margin-right: .6em;
                                    }

                                    p {
                                        margin: 0;
                                        line-height: 1.5;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #services {
        width: 100vw;
        padding: $padding-xl $padding-md;
        background-color: #f1f1f1;

        .container {
            width: 100%;
            max-width: 1200px;
            margin: auto;
            display: grid;
            grid-template-columns: auto;
            grid-gap: 1em;

            .item {
                background-color: white;
                padding: 2em;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                position: relative;
                z-index: 1;
                transition: all .5s;

                img {
                    width: 3em;
                    height: 3em;
                    margin-bottom: 1em
                }

                h4 {
                    font-size: 1.3em;
                    margin-bottom: 1em;
                    text-transform: uppercase;
                    color: $secondary;
                }

                p {
                    line-height: 1.5;
                    font-size: .9em;
                }

                .hover-img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                    top: 0;
                    left: 0;
                    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url(/assets/img11.webp) center / cover;
                    transition: all .4s ease-in-out;
                    transform: scale(.9);
                    opacity: 0;
                    visibility: hidden;

                }

                &:hover .hover-img {
                    transform: scale(1);
                    opacity: 1;
                    visibility: visible;
                }

                &:hover {

                    p,
                    h4 {
                        color: white;
                    }
                }
            }

            .heading {
                background-color: transparent;
                justify-content: flex-start;
                padding: 0;

                span {
                    color: $primary;
                    margin-bottom: .5em;
                }

                h2 {
                    font-size: 2.5em;
                    margin-bottom: .5em;
                    color: $secondary;
                    text-transform: uppercase;
                }

                &:hover {

                    p,
                    h2 {
                        color: currentColor;
                    }
                }
            }

            .item:last-child {
                background-color: transparent;
                padding: 1em 0 0 0;

                p {
                    margin-bottom: 1em;
                }

                &:hover {

                    p,
                    h2 {
                        color: currentColor;
                    }
                }
            }
        }
    }

    #small-contact {
        background: url(/assets/img05M.webp) center / cover;
        padding: $padding-xl $padding-lg;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h2 {
            line-height: 1.5;
            font-size: 1.6em;
            margin-bottom: .5em;
            color: white;
            z-index: 2;
            position: relative;
            text-align: center;
        }

        button {
            background-color: white;
            z-index: 2;
            position: relative;
        }

        .overlay {
            width: 100%;
            height: 100%;
            background-color: $primary;
            top: 0;
            left: 0;
            position: absolute;
            opacity: .90;
        }
    }

    #why {
        padding: $padding-xl $padding-md 15em $padding-md;
        background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(/assets/img06M.webp) center / cover;

        .container {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 1em;

            .item {
                color: white;
            }

            h2 {
                span {
                    font-weight: bold;
                    font-size: 2em;
                    margin-right: .1em;
                }
            }

            p {
                line-height: 1.5;
            }
        }
    }

    #why-over {
        display: grid;
        grid-template-rows: 1fr 1fr;
        width: 90%;
        margin: auto;
        margin-top: -175px;
        background-color: white;
        box-shadow: $box-shadow;
        max-width: 700px;

        .text {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            padding: 2em;

            span {
                color: $primary;
            }

            h2 {
                font-size: 2.5em;
                margin-bottom: .1em;
                color: $secondary;
                text-transform: uppercase;
            }

            p {
                line-height: 1.5;
                margin-bottom: 1em;
            }

            a {
                margin-bottom: .5em;
            }
        }

        .img-container {
            position: relative;
            height: 100%;

            img {
                position: absolute;
                left: 0;
                right: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &>div {
                position: absolute;
                bottom: 1em;
                right: 1rem;
                background-color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: .5em;

                img {
                    width: 2em;
                    height: 2em;
                    position: relative;
                    margin-right: 1em;
                }

                &>div {
                    p {
                        margin-bottom: .3em;
                    }

                    a {
                        color: $primary;
                    }
                }
            }
        }
    }

    #team {
        padding: $padding-xl $padding-md;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &>a {
            margin-top: 4em;
        }

        .heading {
            text-align: center;
            width: 100%;
            max-width: 600px;
            margin: auto;
            margin-bottom: 2em;

            span {
                text-transform: uppercase;
                color: $primary;
            }

            h2 {
                font-size: 2.5em;
                color: $secondary;
                margin-bottom: .1em;
                text-transform: uppercase;
            }

            p {
                line-height: 1.5;
            }
        }

        .container {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 1em;
            margin: auto;
            place-items: center;

            .item {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 100%;
                max-width: 360px;

                .img-box {
                    height: 400px;
                    width: 100%;
                    position: relative;

                    img {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        object-fit: cover;
                    }
                }

                .bio {
                    width: 90%;
                    box-shadow: $box-shadow;
                    padding: 1em;
                    margin-top: -40px;
                    z-index: 2;
                    position: relative;
                    background-color: white;
                    border-bottom: 5px solid $primary;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    &>div {
                        display: flex;
                        flex-direction: column;

                        h3 {
                            font-weight: bold;
                            font-size: 30px;
                        }

                        p {
                            margin-bottom: .7em;
                            font-size: .8em;
                        }
                    }
                }
            }
        }
    }

    #projects {
        padding: $padding-xl $padding-md;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .heading {
            display: flex;
            flex-direction: column;

            span {
                text-transform: uppercase;
                color: $primary;
            }

            h2 {
                font-size: 2.5em;
                color: $secondary;
                margin-bottom: .3em;
            }
        }

        .portSwiper {
            width: 100%;
            height: auto;

            .swiper-wrapper {
                width: 100%;
                display: flex;
                background-color: transparent;
                padding: 1.5em 0;

                .swiper-slide {
                    background-color: #f8f8f8;
                    width: 100%;
                    max-width: 500px;
                    position: relative;
                    height: 30em;

                    img {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        object-fit: cover;
                    }
                }
            }
        }

        .controller {
            height: max-content;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 0.5em;
            z-index: 2;

            .swiper-prev-port {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: white;
                cursor: pointer;
                padding: 1.5em;
                overflow: hidden;
                position: relative;
                box-shadow: $box-shadow;

                .left {
                    width: 40px !important;
                    height: 2px;
                    background-color: $light-black;
                    position: relative;
                    z-index: 3;

                    &::after {
                        content: "";
                        width: 15px;
                        height: 2px;
                        background-color: inherit;
                        position: absolute;
                        left: 0;
                        transform-origin: 0%;
                        transform: rotate(45deg);
                    }

                    &::before {
                        content: "";
                        width: 15px;
                        height: 2px;
                        background-color: inherit;
                        position: absolute;
                        left: 0;
                        transform-origin: 0%;
                        transform: rotate(-45deg);
                    }
                }

                &::before {
                    position: absolute;
                    width: 100%;
                    content: "";
                    height: 100%;
                    background-color: $primary;
                    transform: translateX(101%);
                }

                &.pressedControl {
                    .left {
                        transition: all 1000ms;
                    }

                    &::before {
                        transition: all 1000ms;
                        transform: translateX(0);
                    }
                }
            }

            .swiper-next-port {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: white;
                cursor: pointer;
                padding: $padding-md;
                position: relative;
                overflow: hidden;
                box-shadow: $box-shadow;

                .right {
                    width: 40px !important;
                    height: 2px;
                    background-color: black;
                    position: relative;

                    &::after {
                        content: "";
                        width: 15px;
                        height: 2px;
                        background-color: inherit;
                        position: absolute;
                        right: 0;
                        transform-origin: 100%;
                        transform: rotate(45deg);
                    }

                    &::before {
                        content: "";
                        width: 15px;
                        height: 2px;
                        background-color: inherit;
                        position: absolute;
                        right: 0;
                        transform-origin: 100%;
                        transform: rotate(-45deg);
                    }
                }

                &::before {
                    position: absolute;
                    width: 100%;
                    content: "";
                    height: 100%;
                    background-color: $primary;
                    transform: translateX(-101%);
                }

                &.pressedControl {
                    .right {
                        transition: all 1000ms;
                    }

                    &::before {
                        transition: all 1000ms;
                        transform: translateX(0);
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    #landing {


        .swiper-container {

            .landing-content {


                h1 {}

                p {
                    font-size: 1.5em;
                }

                .btns {

                    a {}

                    a:nth-child(1) {}

                    a:nth-child(2) {}
                }
            }

            .swiper-wrapper {

                .swiper-slide {}


            }
        }

        .swiper-slide-active {}

        .controller {}
    }

    #intro {

        .container {
            .imgs {

                .large-img {
                    img {}
                }

                .small-img {

                    img {}
                }
            }

            .content {


                span {}

                h2 {}

                p {}

                .tabs-container {


                    .control {


                        // 2
                        .tab-controls {


                            li {
                                button {}

                                & .active {
                                    &::after {}
                                }
                            }
                        }
                    }

                    .contents {
                        .tab-content {
                            flex-direction: row;

                            .content-img-container {


                                img {}
                            }

                            ul {


                                li {


                                    img {}

                                    p {}
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #services {

        .container {
            grid-template-columns: repeat(2, 1fr);

            .item {

                width: 100%;

                img {}

                h4 {}

                p {}
            }

            .heading {

                span {}

                h2 {}
            }

            .item:last-child {
                padding: 0;

                p {}
            }
        }
    }

    #team {


        .heading {


            span {}

            h2 {}

            p {}
        }

        .container {
            grid-template-columns: 1fr 1fr;
            place-items: center;

            .item {


                .img-box {

                    img {}
                }

                .bio {


                    &>div {


                        h3 {}

                        p {}
                    }
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    #landing {
        height: 768px;

        .swiper-container {

            .landing-content {


                h1 {}

                p {
                    font-size: 1.5em;
                }

                .btns {

                    a {}

                    a:nth-child(1) {}

                    a:nth-child(2) {}
                }
            }

            .swiper-wrapper {

                .swiper-slide {}

                .swiper-landing-1 {
                    background: linear-gradient(135deg, rgba(0, 0, 0, .8), rgba(0, 0, 0, .1)), url(/assets/img01.webp) center / cover;
                }

                .swiper-landing-2 {
                    background: linear-gradient(135deg, rgba(0, 0, 0, .8), rgba(0, 0, 0, .1)), url(/assets/img01.webp) center / cover;
                }

                .swiper-landing-3 {
                    background: linear-gradient(135deg, rgba(0, 0, 0, .8), rgba(0, 0, 0, .1)), url(/assets/img01.webp) center / cover;
                }


            }
        }

        .swiper-slide-active {}

        .controller {
            right: 1.2em;
        }
    }

    .landing-overlap {
        flex-direction: row;
        padding: 1em;

        &>div {
            border-bottom: none;
            border-right: 1px solid #a4a4a4;

            a {


                img {}
            }

            &>div {


                p {}

                p:nth-child(1) {}

                a.phone {}
            }
        }

        &>div:nth-child(3) {
            border-right: none;
        }
    }

    #intro {
        padding: $padding-xl $padding-md;

        .container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1em;
            place-items: start;
            max-width: 1200px;
            margin: auto;

            .imgs {

                .large-img {
                    img {}
                }

                .small-img {

                    img {}
                }
            }

            .content {


                span {}

                h2 {}

                p {}

                .tabs-container {


                    .control {


                        // 2
                        .tab-controls {


                            li {
                                button {}

                                & .active {
                                    &::after {}
                                }
                            }
                        }
                    }

                    .contents {
                        .tab-content {
                            flex-direction: row;

                            .content-img-container {


                                img {}
                            }

                            ul {


                                li {


                                    img {}

                                    p {}
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #why {
        background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(/assets/img06L.webp) center / cover;

        .container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 1em;
            margin: auto;
            max-width: 1200px;

            .item {}

            h2 {
                span {}
            }

            p {}
        }
    }

    #why-over {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        width: 90%;
        margin-top: -200px;
        max-width: 900px;

        .text {

            span {}

            h2 {}

            p {}

            a {}
        }

        .img-container {

            img {}

            &>div {


                img {}

                &>div {
                    p {}

                    a {}
                }
            }
        }
    }

    #team {


        .heading {


            span {}

            h2 {}

            p {}
        }

        .container {
            grid-template-columns: repeat(3, 1fr);
            place-items: center;
            max-width: 1200px;
            margin: auto;

            .item {


                .img-box {

                    img {}
                }

                .bio {


                    &>div {


                        h3 {}

                        p {}
                    }
                }
            }
        }
    }
    #projects {


        .heading {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            max-width: 1000px;

            span {

            }

            h2 {

                margin-bottom: .0;
            }
        }

        .portSwiper {


            .swiper-wrapper {


                .swiper-slide {

                    img {

                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    #landing {

        .swiper-container {

            .landing-content {


                h1 {}

                p {
                    font-size: 1.5em;
                }

                .btns {

                    a {}

                    a:nth-child(1) {}

                    a:nth-child(2) {}
                }
            }

            .swiper-wrapper {

                .swiper-slide {}


            }
        }

        .swiper-slide-active {}

        .controller {
            display: none;
        }
    }

    .landing-overlap {
        margin-top: -4em;
        box-shadow: $box-shadow;
        transition: all .5s;

        &>div {

            a {


                img {
                    width: 2.5em;
                    height: 2.5em;
                }
            }

            &>div {


                p {}

                p:nth-child(1) {}

                a.phone {}
            }
        }

        &>div:nth-child(3) {}
    }

    #intro {

        .container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1em;
            place-items: start;
            width: 100%;
            margin: auto;

            .imgs {
                align-self: center;
                justify-self: center;

                .large-img {
                    img {}
                }

                .small-img {
                    margin-left: -100px;
                    margin-top: -250px;

                    img {}
                }
            }

            .content {


                span {}

                h2 {}

                p {}

                .tabs-container {


                    .control {


                        // 2
                        .tab-controls {


                            li {
                                button {}

                                & .active {
                                    &::after {}
                                }
                            }
                        }
                    }

                    .contents {
                        .tab-content {

                            .content-img-container {


                                img {}
                            }

                            ul {


                                li {


                                    img {}

                                    p {}
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #services {

        .container {
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 2em;

            .item {

                width: 100%;
                transition: all .5s;
                position: relative;

                img {}

                h4 {}

                p {}

            }

            .heading {

                span {}

                h2 {}
            }

            .item:last-child {

                p {}
            }
        }
    }

    #small-contact {
        background: url(/assets/img05L.webp) center / cover;
        background-attachment: fixed;
    }

    #why {
        background-attachment: fixed;

        .container {


            .item {}

            h2 {
                span {}
            }

            p {}
        }
    }
}

@media (min-width: 1562px) {
    #landing {

        .swiper-container {

            .landing-content {


                h1 {}

                p {
                    font-size: 1.5em;
                }

                .btns {

                    a {}

                    a:nth-child(1) {}

                    a:nth-child(2) {}
                }
            }

            .swiper-wrapper {

                .swiper-slide {}


            }
        }

        .swiper-slide-active {}

        .controller {
            display: flex;
        }
    }

}

// animate 
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}